body {
    background-image: url("img/clouds-background.jpg");
    font-size: 1.0em;
    line-height: 1.6;
    font-weight: 400;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(255, 255, 255); 
}

#headline{
    text-align: center;
}

#rectBox{
    position: absolute;
    height: 550px;
    width: 425px;
    background-color:#141414;
    box-shadow: #141414;
    opacity: 0.4;
    z-index: 1;
}

#tx1{
    position: absolute;
    z-index: 2;
}

#transbox{
    margin: 0 auto;
  
} 

.button,
button {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; 
}


button {
    background-color: rgb(0, 88, 122);
    color: #FFFAFF; }
  
button:hover {
    color: rgb(2, 169, 235);
}

#weekBtn{
    width: 375px;
    position: absolute;
    margin-left: 1%;
    z-index: 2;
    margin-top: 28%;
}

