body {
    background-image: url("img/clouds-background.jpg");
    font-size: 1.0em;
    line-height: 1.6;
    font-weight: 400;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(255, 255, 255); 
}

#headline{
    text-align: center;
}

#rectBox{
    position: absolute;
    height: 550px;
    width: 425px;
    background-color:#141414;
    box-shadow: #141414;
    opacity: 0.4;
    z-index: 1;
}

#tx1{
    position: absolute;
    z-index: 2;
}

#transbox{
    margin: 0 auto;

  
} 
  